* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}

html {
    font-family: Arial,sans-serif;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}
